/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
	--gradient-color: #f6bb73;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 80%;
	margin: auto;
	border: 2px solid var(--accent-color);
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1, h2, h3, p, ul {
	padding: .5em 0;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}
ul {
	margin-left: 2em;
}

/* the styles for the header */
header {
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(
	    30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	& h2 {
		font-size: 175%;
		padding: .5em 0 0 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		float: left;
		margin: .75em 1em;
	}
}

/* the styles for the main content */
main {
	padding: 0 1em 1em;
	& h1 {
		border-top: 2px solid var(--accent-color);
		border-bottom: 2px solid var(--accent-color);
	}
	& blockquote {
		font-style: italic;
		padding-left: 1em;
	}
	& img {
		border: 4px double var(--accent-color);
		border-radius: 10px;
		display: flex;
	}
}

/* the styles for the footer */
footer {
	background-color: var(--accent-color);
	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}

/* CSS class */
.large {
	font-size: 125%;
}



/*
    Adjust the margins and padding as needed so the columns lay out the way you want. 

Add the CSS for the featured speaker 

    Adjust the margins and padding as needed so it looks the way you want.

Make the web page fluid 

    Enhance the style rule for the <body> element as follows:

For each image, you can use 100% as the width of the image when it’s between the minimum and maximum widths. However, that value may keep the image from actually scaling. If that’s the case, experiment with values that are less than 100% until the image scales the way you want it to.

    Make any final adjustments to the margins or padding and test the page.
*/ 