body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

a:hover, a:focus {
    font-style: italic; 
    color: #800000;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
    color: #800000;
}

h3 {
    font-size: 105%;
}

header {

    & h2 {
        font-size: 170%;
        text-indent: 30px;
    }

    & h3 {
        font-size: 130%;
        font-style: italic;
        text-indent: 30px;
    }

    & img {
        float: left;
    }
}

main {
    clear: left;

}

footer {
    & p {
        text-align: center;
    }
}

/*
Use a CSS class as a selector 
    In the HTML, find the <h3> element in the header and enclose the text “75” in an <em> element. Then, add a class attribute with a value of large to the <em> element.
    In the CSS, create a style rule that sets the font size to 125% for the class named large.
    Refresh the page to view your changes

Use a CSS variable 
    Create a custom property named accent-color and assign it a hex value of #800000. The selector should be for the root element.
    Replace every occurrence of the hex value #800000 with this custom property.
    Refresh the page. It should look the same as before.
    Change the value of the custom property to the hex value #4d0080.
    Refresh the page to view your changes. When you’re done, change the custom property back to its previous value./*